.login{
  width: 100%;
  height: 100svh;
  display: flex;

  form{
    flex: 25%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    flex-direction: column;
    padding: 2rem;
    gap: 1rem;

    img.logo{
      margin: 1rem auto 2rem;
      object-fit: contain;
      border-radius: 50%;
      width: 150px;
      height: 150px;
    }

    .formGroup{
      width: 100%;
      max-width: 400px;

      label{
        color: #555555;
        font-weight: 500;
      }

      > div{
        display: flex;
        height: 55px;
        border-radius: 5px;
        overflow: hidden;
        margin-top: 5px;
        transition: .2s;

        &:focus-within{
          box-shadow: 0 2px 4px #e5431f65;
        }

        input{
          all: unset;
          height: 55px;
          flex: 1;
          background:  #F1F3F6;
          padding: 0 1rem;
          color: black;
        }

        svg{
          background: var(--orange);
          height: 100%;
          padding: .8rem;
          path{
            fill: #fff;
          }
        }
      }
    }

    button{
      all: unset;
      width: 100%;
      max-width: 350px;
      height: 50px; 
      background: var(--orange);
      text-align: center;
      font-weight: bold;
      border-radius: 5px;
      margin: 2.5rem 0;
      cursor: pointer;
      box-shadow: 0px 6px 10px #e5421f73;
      transition: .2s;
      color: #fff;
    
      &:focus, &:hover{
        box-shadow: 0px 0px 15px #e5421fc2;
        background-color: #f12b00;
      }
    }
    
  }

   div.image{
    flex: 75%;
    position: relative;
    background-color: #F1F3F6;

    img{
      width: 100%;
      height: 100%;
      max-height: 100svh;
      object-fit: cover;
    }
  }
}